[Desktop Entry]
Version=1.0
Name=tovid GUI: simple
Type=Application
Path=
Exec=makemenugui
Icon=tovid.svg
Terminal=false
GenericName=DVD/(S)VCD Maker with simple menus
GenericName[en_US]=DVD/(S)VCD Maker with simple menus
Comment=Author videos to DVD or (S)VCD with simple menus
Comment[en_US]=Author videos to DVD or (S)VCD with simple menus
Categories=AudioVideo;Video;DiscBurning
MimeType=
StartupNotify=true
TerminalOptions=
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
