[Desktop Entry]
Name=tovid GUI: fancy
Type=Application
Path=
Exec=tovid gui
Icon=tovid.svg
Terminal=true
GenericName=DVD/(S)VCD creation with fancy menus
GenericName[en_US]=DVD/SVCD creation with fancy menus
Comment=Author videos to DVD or SVCD with fancy menus
Comment[en_US]=Author videos to DVD or SVCD with fancy menus
Categories=AudioVideo;Video
MimeType=
StartupNotify=true
TerminalOptions=
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
