tovid
# =====================================================
# tovid configuration file
# For use with the 'tovid' utility, part of the tovid suite.
# Homepage: http://tovid.sourceforge.net/
# =====================================================

# HOW TO USE THIS CONFIGURATION FILE

# This is a default configuration file. Add any options to this
# file that you want to use every time you run 'tovid'; if you
# like, you can create a custom configuration file and use it
# by running 'tovid -config YourConfigFile'

# The first line of this configuration file must contain
# the word 'tovid' by itself. All other lines contain one
# or more tovid command-line options, except lines beginning
# with '#', which are comments. Whitespace is ignored.
# To see a list of valid command-line options, run
# 'tovid -help' from a console.

# Some command-line options are suggested here; uncomment
# them if you would like to use them.

# =====================================================

# Run in "parallel" mode. Usually results in faster
# execution and less disk usage.
# -parallel

# Run in "debug" mode. Produces more debugging output.
# Useful if you are a developer.
# -debug

# Always overwrite existing output files.
# -overwrite

# Always encode to PAL DVD format
# -pal -dvd

# END OF CONFIGURATION FILE
