/* screen.css
 * CSS stylesheet definition for the tovid documentation
 * http://tovid.sourceforge.net/
 */

/*
 * Body and link styles
 */
body {
  /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: sans-serif;
    font-size: 15px;
    color: #000;
    background: white; /*url( "images/bg_film_white.jpg" ) 0 0 no-repeat fixed;*/
    margin: 2em;
    padding: 1em;
}

a { color: #44C; text-decoration: none; background: transparent; }
a:hover {
    background: #FFE;
    border-width: 1px 0;
    border-style: dotted;
    border-color: #44C;
}
a:visited { color: #A4A; }

.toc:before { content: 'Contents:' }
.toc {
    float: left;
    padding: 0;
    margin: 1em 3em 2em 1em;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
}

.toc a {
    color: #653;
    text-decoration: none;
}


h1 {
    border-bottom: 3px solid grey;
    padding: 0.5em 0;
}

h2 {
    color: #000;
    padding: 0.5em;
    margin: 2em 0;
    border-width: 1px;
    border-style: solid;
    border-color: #432;
    clear: both;
    text-shadow: #997 -0.2em 0.2em 0.2em;
    background: #E7D8DB; /*url( "images/bg_film_negative.jpg" ) 0 0 no-repeat fixed;*/
}

h3 {
    color: #383;
    font-style: italic;
    margin: 2em 0;
    padding: 0.5em;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #8B8;
    clear: left;
    text-shadow: #CCB -0.3em 0.3em 0.2em;
}

pre
{
    padding: 1em;
    margin: 2em;
    background: #F8F8F8; /*url( "images/bg_film_sepia.jpg" ) 0 0 no-repeat fixed;*/
    border: 1px dotted grey;
}
/* Indentation */
body p   { margin-left: 2em }
body pre { margin-left: 2em }
body ul  { margin-left: 4em }
body dl  { margin-left: 4em }
.toc ul  { margin-left: 1em }

dl { clear: both; }
dt { font-weight: bold; }

/* mypydoc styles */
dl.class > dd {
    margin: 1em 1em 1em 2em;
    padding: 2em;
    border-top: 3px solid #84A;
    border-left: 3px solid #84A;
}
dl.class > dt {
    margin-top: 2em;
    padding: 0;
    font-size: 140%;
    font-style: italic;
    color: #418;
}

pre.doc {
    background: transparent;
    border: none;
    margin: 0;
    color: #448;
}
pre.source {
    background: white;
    border: 2px dotted #080;
    margin: 0;
}

code.args {
    color: #A00;
}

/*
dl.class dd {
    margin: 1em 2em;
    padding: 0;
}
*/

/* CSS pop-out navigation menu
 * Adapted from Nick Rigby's:
 * http://www.nickrigby.com/article/25/drop-down-menus-horizontal-style-pt-3 
 */
ul#navmenu {
    margin: 1em;
    padding: 0;
    width: 9em;
    font-family: Verdana, sans-serif;
    text-shadow: #999 0.1em 0.1em 0.1em;
    float: right;
}

ul#navmenu ul {
    width: 9em;
    margin: 0;
    padding: 0;
	position: absolute;
    right: 9em;
    top: 0;
	display: none;
}

ul#navmenu li {
	position: relative;
    list-style: none;
}

ul#navmenu li a {
	display: block;
	text-decoration: none;
    background: #E0E9C5;
	color: black;
	padding: 0.5em;
	border: 1px solid black;
    margin: 0;
    text-align: right;
}

/* Fix IE. Hide from IE Mac \*/
* html ul#navmenu li { float: left; height: 1%; }
* html ul#navmenu li a { height: 1%; }
/* End */

ul#navmenu li ul li a { padding: 0.5em; } /* Sub Menu Styles */

ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.over ul ul,
ul#navmenu li.over ul ul ul { display: none; } /* Hide sub-menus initially */

ul#navmenu li:hover ul,
ul#navmenu li li:hover ul,
ul#navmenu li li li:hover ul,
ul#navmenu li.over ul,
ul#navmenu li li.over ul,
ul#navmenu li li li.over ul {
    display: block;
}

ul#navmenu li.menuparent>a:before { content: '<- '; }

ul#navmenu li.menuparent:hover,
ul#navmenu li.over {
}
ul#navmenu li a:hover {
    background: #F8F8F7; /*url( "images/bg_film_sepia.jpg" ) 0 0 no-repeat fixed;
    color: #36A;
    border-color: #753;
}
