[Desktop Entry]
Name=BVC-dvd
GenericName=Wizard to create DVD/SVCD from clips
Exec=/usr/local/bin/BVC -d
Type=Application
Icon=dvd_unmount
Categories=Qt;KDE;AudioVideo;
