[Desktop Entry]
Name=todiscgui
Type=Application
Path=
Exec=todiscgui
Icon=tovid.svg
Terminal=true
GenericName=GUI frontend for todisc
GenericName[en_US]=GUI frontend for todisc
Comment=Author videos to DVD or SVCD
Comment[en_US]=Author videos to DVD or SVCD
Categories=AudioVideo;Video
MimeType=
StartupNotify=true
TerminalOptions=
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
